#post-update-page {
    height: 100vh;
    background: linear-gradient(to right, #e8dde0, #bfe9ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

.update-container .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 1rem;
}

.update-container .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.update-container .btn {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
}

.update-container .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.update-container .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.update-container .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.update-container .btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
}
