.search-results {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}

.search-results li {
    padding: 10px;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f0f0f0;
}
