{{> layout/header}}

<script>
    function openUniversitySearch() {
        const url = "/university/search";
        const name = "University Search";
        const specs = "width=600,height=400";
        window.open(url, name, specs);
    }
</script>

<div id="posts_list">
    <div class="container col-md-4">
        <form action="/auth/joinProc" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <div class="form-group">
                <label>아이디</label>
                <input type="text" name="username" value="{{#userDto}}{{userDto.username}}{{/userDto}}" class="form-control" placeholder="아이디를 입력해주세요"/>
                {{#valid_username}} <span id="valid">{{valid_username}}</span> {{/valid_username}}
            </div>

            <div class="form-group">
                <label>비밀번호</label>
                <input type="password" name="password" value="{{#userDto}}{{userDto.password}}{{/userDto}}" class="form-control" placeholder="비밀번호를 입력해주세요"/>
                {{#valid_password}} <span id="valid">{{valid_password}}</span> {{/valid_password}}
            </div>

            <div class="form-group">
                <label>닉네임</label>
                <input type="text" name="nickname" value="{{#userDto}}{{userDto.nickname}}{{/userDto}}" class="form-control" placeholder="닉네임을 입력해주세요"/>
                {{#valid_nickname}} <span id="valid">{{valid_nickname}}</span> {{/valid_nickname}}
            </div>

            <div class="form-group">
                <label>이메일</label>
                <input type="email" name="email" value="{{#userDto}}{{userDto.email}}{{/userDto}}" class="form-control" placeholder="이메일을 입력해주세요"/>
                {{#valid_email}} <span id="valid">{{valid_email}}</span> {{/valid_email}}
            </div>

            <div class="form-group">
                <label>대학교</label>
                <div class="input-group">
                    <input type="text" name="university" id="university" class="form-control" placeholder="대학교를 선택해주세요" readonly />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary" onclick="openUniversitySearch()">검색</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>국적</label>
                <select name="nationality" class="form-control">
                    <option value="Korean">Korean</option>
                    <option value="Foreigner">Foreigner</option>
                    <option value="American">American</option>
                    <option value="Canadian">Canadian</option>
                    <!-- 추후에 더 많은 국적 추가 -->
                </select>
                {{#valid_nationality}} <span id="valid">{{valid_nationality}}</span> {{/valid_nationality}}
            </div>

            <button class="btn btn-primary bi bi-person"> 가입</button>
            <a href="/" role="button" class="btn btn-info bi bi-arrow-return-left"> 목록</a>
        </form>
    </div>
</div>

{{> layout/footer}}
